<%- include('../include/header') %>

    
    <div class="container mt-4 text-right" dir="rtl">
        <h1>زیادکردنی لق</h1>
        <div class="form-group">
            <% if(errorMSG=="duplicated") { %>
                <div class="alert alert-danger" role="alert">
                    <%= duplicatedName %> <br>
                    ئاگاداربە ئەم ناوە پێشتر تۆمار کراوە
                </div>
                <form action="/sections/<%= duplicatedName %>/recovery?_method=PATCH" method="post">
                    <button class="btn btn-success" type="submit">کلیک لێرە بکە بۆ گەڕاندنەوەی لقەکە</button>
                </form>
            <% } %>
        </div>
        <form action="/sections/store" method="POST">
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="name">ناو:</label>
                    <input placeholder="ناوی لق" type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="status">دۆخ:</label>
                    <select id="status" name="status" class="form-control">
                        <option value="active">چالاک</option>
                        <option value="inactive">ناچالاک</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="note">تێبینی:</label>
                <input type="text" id="note" name="note" class="form-control" placeholder="تێبینی دەربارەی لق">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #ab15d4; border: none;">زیادکردن</button>
            <a href="/sections" class=" btn btn-secondary">گەڕانەوە بۆ لیست</a>
            
        </form>
    </div>

    <%- include('../include/footer') %>