@font-face {
    font-family: 'Rabar_011';
    src: url('../fonts/Rabar_011.tff') format('truetype');
}
@font-face {
    font-family: 'Rabar_016';
    src: url('../fonts/Rabar_016.tff') format('truetype');
}
#body {
        direction: rtl;
        text-align: right;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        /* background-color: #b5c5d1; */
        background-color: #EAE7DC;
        font-family: 'Rabar_016';
        /* font-weight: bold; */
        text-wrap: nowrap;
    }

input{
    direction: rtl;
    text-align: right;
}

main {
        flex: 0 0 80% !important;
}

#logo-img{
    width: 75px;
    margin: 0 auto;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6, label{
    color: #E8A5A4;
}

/* Initial styling for the logo */
#logo {
    font-family: 'Arial', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(45deg, #4f62ca, #278898, #ab15d4, #8825a6, #EAE7DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: gradientShift 4s linear infinite;
    border-radius: 10px;
    letter-spacing: 0.2rem; /* Add space between letters */
}

/* Hover effect */
#logo:hover {
    color: #000000;
    background-color: transparent !important;
}