@font-face {
    font-family: 'Rabar_011';
    src: url('../fonts/Rabar_011.tff') format('truetype');
}
@font-face {
    font-family: 'Rabar_016';
    src: url('../fonts/Rabar_016.tff') format('truetype');
}
#body {
        direction: rtl;
        text-align: right;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        background-color: #b5c5d1;
        font-family: 'Rabar_016';
        /* font-weight: bold; */
        text-wrap: nowrap;
    }

input{
    direction: rtl;
    text-align: right;
}

main {
        flex: 0 0 80% !important;
}

#logo-img{
    width: 75px;
    margin: 0 auto;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6, label{
    color: white;
}

/* Initial styling for the logo */
#logo {
    transition: all 0.3s ease;
    background-color: transparent !important;
    color: #D4E6F1;
}

/* Hover effect */
#logo:hover {
    color: #000000;
    background-color: transparent !important;
}