<!DOCTYPE html>
<html lang="ku">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-rtl@4.6.0/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
        .sidebar {
            position: relative;
            top: 0;
            right: 0;
            bottom: 0;
            /* width: 17%; */
            background-color: #FEE715;
            padding: 20px;
            height: 100vh;
            display: flex !important;
            flex-direction: column;
            gap: .5rem;
            flex: auto;
        }

        .sidebar a {
            display: block;
            color: #101820;
            padding: 10px;
            text-decoration: none;
            font-size: 1.25rem;
        }

        .sidebar a:hover {
            background-color: #101820;
            color: #FEE715;
        }

    </style>
</head>

<body id="body" dir="rtl" class="">
    <div class="sidebar">
        <h2><img src="/images/logo.png" alt="logo image" srcset="" id="logo-img"
             onclick="window.location.href='/'"style="width: 75px;">گەیاندن</h2>
        
        <a class="nav-link" href="/sections"><i class="fa-solid fa-location-dot"></i> لقەکان</a>
        <a class="nav-link" href="/employees"><i class="fa-solid fa-users"></i> کارمەندەکان</a>
        <a class="nav-link" href="/cities"><i class="fa-solid fa-city"></i> شارەکان</a>
        <a class="nav-link" href="/villages"><i class="fa-regular fa-id-card"></i> شارۆچکەکان</a>
        <a class="nav-link" href="/drivers"><i class="fa-solid fa-id-card"></i> شۆفێران</a>
    </div>

    <main style="flex: 0 0 83%;">

        <nav id="Main-H-navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul id="H-navbar" class="navbar-nav ml-auto" dir="rtl">
                    <li class="nav-item" id="search-form">
                        <form class="form-inline my-2 my-lg-0" style="width: 100%; gap: 1rem;">
                            <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="گەڕان" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </li>
                    <li class="nav-item" id="profile-image">
                        <img src="/images/Aland.JPG" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px;">
                    </li>
                </ul>
            </div>
        </nav>

        <style>
            #Main-H-navbar{
                width: 100% !important;
                background-color: #008080  !important;
                /* height: auto; */
            }
            #H-navbar{
                width: 100%;
                /* background-color: blue; */
                height: 50px;
                display: flex;
                align-items: center;
                /* gap: 1rem; */
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 10px;
                font-weight: 600;
                color: #fff;
}
            #search-form{
                display: flex;
                /* background-color: red; */
                align-items: center;
                justify-content: center;
                flex: 0 0 80%;
                gap: 1rem;
            }
            #search-input{
                width: 80%;
                /* padding: 5px; */
            }
            #profile-image{
                flex: 0 0 auto;
            }
        </style>


        <style>
            
        </style>
