<%- include('../include/header') %>

    <div class="container mt-4 text-right" dir="rtl">
        <h1>زیادکردنی شار</h1>
        <form action="/cities/store" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">ناو:</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="ناوی شار بنووسە"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="status">دۆخ:</label>
                    <select id="status" name="status" class="form-control">
                        <option value="active">چالاک</option>
                        <option value="inactive">ناچالاک</option>
                    </select>
                </div>
            </div>
            <div class="form-group text-right">
                <label for="price">نرخ:</label>
                <input type="number" id="price" name="price" class="form-control" placeholder="1000" required>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #ab15d4; border: 0px solid;">دروست
                بکە</button>
            <a href="/cities" class="btn btn-secondary">بگەڕێوە بۆ لیست</a>
        </form>
    </div>

    <%- include('../include/footer') %>